@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
     font-family: "Roboto" sans-serif;
     
}    
.Header{
    background-color: #1F2937;
}

.nav-barlogo{
    font-size: 24px;
    color: #F9FAF8;
}
ul{
    display: flex;
    flex-direction: row;gap: 30px;
}

ul li {
    list-style: none;
    gap: 50px;
}
   
ul li a{
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
    
    

}
.nav-bar{
    display: flex;
    flex-direction: row;
}
.nav-barlogo,.nav-barlinks{
    display: flex;
    width: 50%;
    justify-content: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.header-bodyleftp{
    font-size: 18px;
    color: #E5E7EB;
    
}
.header-bodyright{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    

}
.header-bodyleft{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 150px;
}
.header-body{
    display: flex;
    flex-direction: row;
    margin: 50px;
}
img{
    margin: 50px;
}

.header-btn{
    background-color: #3882F6;
    color: white;
    border-radius: 8px;
    width: 70px;
    height: 30px;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin: 100px;
}

.item{
    border: 3px solid #3882F6;
    width: 180px;
    height: 150px;
    border-radius: 10px;
    
}

.item-p{
    text-align: center;
    font-size: 18px;
}